<div *ngIf="person" class="form-group">

    <h2>{{person.id}} details:</h2>
    <div class="form-group">
        <label>Personnel ID: </label>{{person.id}}
    </div>
    <div class="form-group">
        <label for="first_name">First Name: </label>
        <input type="text" class="form-control" id="first_name"
               [(ngModel)]="person.first_name" placeholder="John"
               name="first_name"
        />
    </div>
    <div class="form-group">
        <label for="last_name">Last Name: </label>
        <input type="text" class="form-control" id="last_name"
               [(ngModel)]="person.last_name" placeholder="Doe"
               name="last_name"
        />
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
